@import './resets';
@import './variables';
@import './config';
@import './card';

main {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 95vh;
  gap: 0;
}

@include desktop {
  // Body default background
  body {
    background: hsl(225, 100, 94);
  }

  // Pattern Background
  .pattern-img-container {
    background: url('/images/pattern-background-desktop.svg') center/cover
      no-repeat;
  }

  // Section Center
  .section-center {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  // Card
  .card {
    max-width: 28rem;
  }

  // Order Info
  .order-info {
    h1 {
      margin-top: 2.3rem;
    }
    p {
      max-width: 18.3rem;
      font-weight: weights(regular);
    }
  }

  // Order Plan
  .order-plan {
    width: 70%;
    margin-bottom: 0.8rem;

    // Order Plan Contents
    .order-plan-content {
      padding: 1.4rem 1.5rem;

      .plan {
        margin-left: -4.5rem;
        h2,
        p {
          font-size: 1rem;
        }
      }

      a {
        font-size: 0.9rem;
      }
    }
  }

  // Payment Button
  .payment-btn {
    font-size: 0.85rem;
    width: 80%;
    color: #fff;
    letter-spacing: 0.7px;
  }
  .attribution {
    font-size: 1rem;
  }
}

.attribution {
  font-size: 0.85rem;
  text-align: center;
}
.attribution a {
  color: $brightBlue;
  font-weight: weights(bold);
  text-decoration: none;
}
